.btn-link {
    font-weight: $font-weight-normal;
    color: $link-color;
    background-color: transparent;
  
    @include hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
      background-color: transparent;
      border-color: transparent;
    }
  
    &:focus,
    &.focus {
      border-color: transparent;
      box-shadow: none;
    }
  
    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
    }
  
    // No need for an active state here
  }