body::before{
    position: fixed;
    // background: url(../../img/bg.jpg) center center no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    width: 100%;
  }
body{
    
    color: $color;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

a{
    color: $link-color;
}
a:hover{
    color: $link-hover-color;
}


.form-control {
    //color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    //background-color: rgba(0,0,0,.4);
    box-shadow: none;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(33,150,243,.25);
    //border-color: #4db1a7;
    //background: rgba(0,0,0,.5);
    
}